#vertexOverlay {
  position: relative;
  top: -1550px;
  height: 500px;
  pointer-events: none;
}

#topVertexRow, #bottomVertexRow {
  margin-left: 159.5px;
}

#upperVertexRow, #lowerVertexRow {
  margin-left: 73px;
}

#upperMiddleVertexRow, #lowerMiddleVertexRow {
  margin-left: -12px;
}

.vertexRow {
  height: 149px;
}

.vertex {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
  background-color: rgb(128, 127, 127);
  margin-right: 60px;
  z-index: 2;
  pointer-events: auto;
}

#topVertexRow > *:nth-of-type(odd), #upperVertexRow > *:nth-of-type(odd), #upperMiddleVertexRow > *:nth-of-type(odd) {
  top: 48px;
  /* background-color: black; */
}

#bottomVertexRow > *:nth-of-type(even), #lowerVertexRow > *:nth-of-type(even), #lowerMiddleVertexRow > *:nth-of-type(even) {
  top: 48px;
  /* background-color: black; */
}

.player1 {
  background-color: green;
}

.player2 {
  background-color: rgb(255, 107, 107);
}

.player3 {
  background-color: rgb(85, 85, 255);
}

.player4 {
  background-color: purple;
}

.player1City {
  background-color: rgb(0, 93, 0);
}

.player2City {
  background-color: red;
}

.player3City {
  background-color: blue;
}

.player4City {
  background-color: rgb(65, 0, 65);
}

.triplePort {
  border: 2px solid cyan;
}

.wheatPort {
  border: 2px solid gold;
}

.lumberPort {
  border: 2px solid brown;
}

.brickPort {
  border: 2px solid orange;
}

.orePort {
  border: 2px solid black;
}

.sheepPort {
  border: 2px solid rgb(255, 255, 255);
}

.examplePort {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: top;
  margin-top: 2px;
}
